* { 
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

.App {
  text-align: center;
}

.top { 
  position: fixed;
  width: 100%;
  background-image: url(./imgs/Reddit-logo\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  z-index: 1; 
  background-color: rgb(247, 246, 246);
  padding-bottom: 13px;
  box-shadow: 0px 5px 20px 5px black;
  } 

 .top h1 {
  justify-content: center;
  text-align: center;
  letter-spacing: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;  
  width: 90%;
  transition:  .75s linear;
  margin: 10px auto;  
  font-size: 2.5rem ;
  border-radius: 10px;
  border: 2px solid ;
  box-shadow: 0px 1px 7px 2px blue;
    
 }


 
  .top h1:hover {  
  cursor: pointer;
  position: relative;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 1px 7px 2px orange;
  transition:  .2s linear;
  
  
}

.navigation {
  justify-content: space-around;
  display:inline-flex;
  gap: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.034);
  margin: 0 auto;
  padding: 0 30px;
    
}



.navLink {  
  font-size: 1.3rem;
  margin: 0 auto;  
  width: 20%;
  transition:  .75s linear;  
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid black;  
  letter-spacing: 1px;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 0px 1px 5px 2px blue;
  
}


.navLink:hover {  
  cursor: pointer;
  position: relative;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 1px 5px 2px orange;
  transition:  .1s linear;
  
}

.bigComp {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 150px;
  padding-right: 50px;
  padding-left: 50px;
  display:flex;
  flex-wrap: wrap;    
  justify-content: space-around;
  gap: 50px;
  opacity: 1;
  
   
}

#latest {
  background-image: url(./imgs/trending.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  position: fixed;
  height: 100%;   
  width: 100%;
  opacity: 0.2;
  transition:  .75s linear;
}

#sports {
  background-image: url(./imgs/sports-tools_53876-138077.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  position: fixed;
  height: 100%;   
  width: 100%;
  opacity: 0.2;
  transition:  .75s linear;
}

#cars {
  background-image: url(./imgs/car\ img.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  position: fixed;
  height: 100%;   
  width: 100%;
  opacity: 0.2;
  transition:  .75s linear;
}

#food {
  background-image: url(./imgs/food.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  position: fixed;
  height: 100%;   
  width: 100%;
  opacity: 0.2;
  transition:  .75s linear;

}

#search {
  background-image: url(./imgs/search.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  position: fixed;
  height: 100%;   
  width: 100%;
  opacity: 0.2;
  transition:  .75s linear;
}

#favorites {
  background-image: url(./imgs/favorites.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  position: fixed;
  height: 100%;   
  width: 100%;
  opacity: 0.2;
  transition:  .75s linear;
}

#thinlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.6;
  transition: .75s linear;
}

.smallCont {
  justify-content: center;
  text-align: center;  
  padding: 10px;
  background-color: #fafafa;
  flex: 400px;
  padding-top: 0px;
  display: grid;  
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 65% 35%;
  min-width: 300px;
  max-width: 500px;
  height: 300px;
  border: 2px solid black;
  border-radius: 15px;
  transition:  .5s linear;
  box-shadow: 0px 1px 7px 2px blue;
}

.smallCont:hover {  
  cursor: pointer;
  position: relative;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 1px 4px 3px orange;
  transition:  .2s linear;
  
}

.TaA{
  grid-row-start: 1; 
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2; 
  width: 100%;
  display: flex;
  text-align: left;
  overflow: hidden;
  position: relative;
}



.pa {
  justify-content: center;
  text-align: center;
  padding-top: 10x;
  display: flex; 
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 16px;
  padding-top: 10px;  
  border-radius: 15px ;
  align-items: center;
  padding: 8px;
  margin:auto;
  background-color: rgb(218, 215, 215);
  border: 1px solid black;
  
}

.img {
  margin: 0 auto;
  width: 100%;
  grid-row-start: 3; 
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 300px;
  position: relative;
  border-radius: 15px;
}

.btn {
  grid-row-start: 6; 
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
  line-height: 1.3;
}
.info {
  display: flex;
  justify-content: space-around;
  width:95%;
  grid-row-start: 5; 
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  line-height: 1.3;
  gap: 10px;
  
  
}

.info h6 {
  font-size: .9rem;
  background-color: rgb(218, 215, 215);
  padding:10px;
  justify-content: center;
  align-self: center;
  border-radius: 15px;
  border: 1px solid black;
}

.smallCont img {
  width: 100%;
  
}


.sbarcomp {
  width: 100%;
  position: fixed;
  top: 120px;
  background-color: rgb(232, 232, 232);  
  z-index: 1;
  padding: 5px;
  border: 1px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-shrink: 1;
  justify-content: space-around;
  
}

.sbarcomp div {
  width: 100%;
  
  align-items: center;
  justify-content: center;
  


}

.sbarcomp label {
  padding: 0 20px;
  width:20%;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.sbarcomp input {
  border-radius: 5px;
  line-height: 1.2;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.nofavyet {
  position: relative;
  padding: 20px 50px;  
  line-height: 2;
  border-radius: 10px;
  border: 1px solid;
  top: 120px;
  box-shadow: 0px 4px 10px 4px;
  text-decoration: none;
  letter-spacing: 2px;
}

.nofavyet:hover {  
  cursor: pointer;
  position: relative;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 4px 20px 4px;
  transition:  .2s linear; 
  
}

.lodstatus {
  position: fixed;
  padding: 20px 50px;  
  line-height: 2;  
  justify-content: center;
  width: 100%;
  top: 300px;    
  align-items: center;  
  text-decoration: none;
  letter-spacing: 2px;
  margin:0 auto;
  z-index: 1;  
}

.lodstatus img {
  width: fit-content;
  margin:0 auto;
  box-shadow: 0px 1px 7px 1px orange;
  border-radius: 10px;
  border: 1px solid;


}





/*
.lod {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}



.lod h1 {
  font-size: 50px;
  background-color: brown;
  margin: 0 auto;

}
*/