@media only screen and (max-width: 900px) {
    #swbtn {
      font-size: 30px;
      letter-spacing: 10px;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;        
        margin: 0;
        gap:7px;
    }

    .navLink {
        font-size: 16px;  
        flex-grow: 0;      
        padding:0px 7px;
        min-width: fit-content;
        background-color: rgba(238, 238, 238, .8);;
        
    }

    .bigComp {
        top:40px;
    }

    .sbarcomp {
        top:149px;
        font-size: 12px;
    }

    .sbarcomp label {
        font-size: 12px;
    }

    .sbarcomp input {
        line-height: .9;
        font-size: 12px;
    }

    


    
  } 

  @media only screen and (max-width: 630px) {
    .infomod h6 {
        display: none;
    }
    
    .bpbtn {
        top: 8px;
    }

    .extlink {
        min-width: 150  px;
        min-height: 150px;
    }


  }